# ---- Python / Django ----
backend/.venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
backend/.env
*.log

# ---- Node / React ----
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# ---- Editors / OS ----
.vscode/
.idea/
.DS_Store
*.swp

.env